@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

/* =========================================================
   CARD BASE
========================================================= */

.card {
  width: 100%;
  background-color: v.$color-surface;
  border-radius: v.$radius-lg;
  overflow: hidden;
}

.card--auth {
  width: 569px;
  min-height: 621px;
  background: v.$color-white;
  border: 1px solid rgba(141, 153, 187, 0.12);
  box-shadow: 0 8px 28px rgba(86, 128, 249, 0.12);
}

.card__header,
.card__body,
.card__footer {
  width: 100%;
}

@include m.max-lg {
  .card--auth {
    width: 100%;
    max-width: 569px;
    min-height: auto;
  }
}